<span class="custom-combobox">
	<input title="" class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left ui-autocomplete-input" autocomplete="off" />
	<a tabindex="-1" title="Show All Items" class="ui-button ui-widget ui-state-default ui-button-icon-only custom-combobox-toggle ui-corner-right" role="button">
		<span class="ui-button-icon-primary ui-icon ui-icon-triangle-1-s"></span>
		<span class="ui-button-text"></span>
	</a>
</span>
