<html>
	<head>
		<script type="application/javascript" src="/Libs/jquery-2.1.1.min.js"></script>
		<script type="application/javascript" src="/Libs/jquery-ui.js"></script>
		<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.js"></script>
		<script type="application/javascript" src="http://underscorejs.org/underscore.js"></script>
		<script type="application/javascript" src="/hd-autocomplete.js"></script>
		<script type="application/javascript" src="/controller.js"></script>
		<link rel="stylesheet" type="text/css" href="/Libs/jquery-ui.css" />
		<title>AutoCompleteDemo</title>
		<style>
			  .custom-combobox {
				position: relative;
				display: inline-block;
			  }
			  .custom-combobox-toggle {
				position: absolute;
				top: 0;
				bottom: 0;
				margin-left: -1px;
				padding: 0;
			  }
			  .custom-combobox-input {
				margin: 0;
				padding: 5px 10px;
			  }
  		</style>
		
	</head>
	<body ng-app="autocompleteDemo">
		<div ng-controller="main">
			<hd-auto-complete ng-model="selectedValue" ng-options="item.label as item.label for item in values"></hd-auto-complete>
		</div>
	</body>
</html>